name: build java-zulu
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - main
    paths:
      - java/java-zulu/**

jobs:
  push:
    name: "pterodactyl-yolks:java_${{ matrix.tag }}_zulu"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        tag:
          - perf_25
          - perf_24
          - perf_21
          - perf_17
          - perf_11
          - perf_8
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ./java
          file: ./java/java-zulu/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/blstmo/pterodactyl-yolks:java_${{ matrix.tag }}_zulu
          cache-from: type=gha
          cache-to: type=gha,mode=max

